*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

}
/*navbar container*/
.navbar{
    background-color: #1e1e1e;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    color: white;
}


.logo{
    font-size: 22px;
    font-weight: bold;
}

.Nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.Nav-links li{
    display: inline;
}

.Nav-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 12px;
    transition: 0.3s;

}

.Nav-links a:hover{
background-color: #444;
border-radius: 5px;
}



 @mediascreenand (max-width:600px) nav{
    display: block;
    position: relative;
    padding: 15p 20px;
   
}











 @mediascreenand(max-width:600px)nav{
    display: block;
    position: relative;
    padding: 15p 20px;
   
}

menu{
    margin-top: 15px;
    display: none;
}  

/* Main Content */
#product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    background-color: white;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
}

.product button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.product button:hover {
    background-color: #555;
}

/* Cart Section */
#cart {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cart ul {
    list-style: none;
    margin-bottom: 10px;
}

#cart ul li {
    margin-bottom: 10px;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
}
